<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Similar Films</title>
    <link rel="icon" href="/img/movieImg.webp">
    <link rel="stylesheet" href="/css/style.css">
    
</head>
<body>
    <div class="mainContent">
        <!-- allows this header to be on this page -->
        {{>header}}

        <p>Input your movie & find more like it!</p>

        <form>
            <input placeholder="input a movie!">
            <button>Search</button>
        </form>

        <p id="errorMess"></p>
        
        <div id="movieInput"></div>

        <p id="movies"></p>

        <div id="simGrid"></div>
    </div>

    <!-- allows this footer to be on this page -->
    {{>footer}}
    <script src="js/app.js"></script>
</body>
</html>